@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
    src: url("../fonts/OpenSans-Regular.woff");
    src: url("../fonts/OpenSans-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.ttf");
    src: url("../fonts/OpenSans-Bold.woff");
    src: url("../fonts/OpenSans-Bold.woff2");
    font-weight: 700;
}

html {
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    z-index: 0;
    padding: 28px 0 125px;
    box-sizing: border-box;
    width: 100%;
    background-color: black;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    background-color: #000000;
    opacity: 0.6;
}

.menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 70.482%;
}

.logo {
    width: 179px;
}

.item {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav {
    display: flex;
    align-items: center;
}

/* .svg-burger {display: flex;
    align-items: center;
    margin-left: 5px;
    width: 24px;
    height: 35px;
    display: none;
} */

.btn-burger {
    display: none;
    align-items: center;
    margin-left: 5px;
    width: 24px;
    height: 35px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../svg/burger-menu.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}

.navigation-input {
    display: none;
}

.navigation {
    gap: 35px;

}

.navigation-items-link {
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
}

.navigation-items-link:hover {
    text-decoration: underline;
}

.title {
    margin: 100px auto 0;
    width: 730px;
    font-size: 45px;
    line-height: 75px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
}

.trends {
    width: 100%;
    
}

.section-title {
    margin: 55px auto 28px;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;}

.section-title::after {
    content: '';
    display: block;
    margin: 7px auto;
    opacity: 0.400;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
}

.trends-container {
    display: flex;
    gap: 4px;
    width: 100%;
}

.trends-block {
    position: relative;
    display: flex;
    align-items: end;
    padding: 16px 20px;
    min-height: 318px;
    box-sizing: border-box;
    width: calc(25% - 3px);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

.block1 {
    background-image: url("../images/layer1.jpg");
}

.block2 {
    background-image: url("../images/layer4.jpg");
}

.block3 {
    background-image: url("../images/layer3.jpg");
}

.block4 {
    background-image: url("../images/layer2.jpg");
}

.trends-block::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: #000000;
    opacity: 0.6;

}

.trends-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;

}

.trends-contant {
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 29px 33px;
    border: 3px solid #b59f5b;
    
}

.category {
    margin-top: 0px;
    margin-bottom: 0;
    gap: 20px;
}

.category-items-link {
    text-decoration: none;
    margin: 0 0 8px;
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
}

.category-items-link:hover {
    text-decoration: underline;
}

.trends-block-title {
    margin: 7px 0 0;
}

.trends-block-title-link {
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
}

.trends-block-title-link:hover {
    color: #b59f5b;
}

.container {
    margin: 0 auto;
    padding: 63px 0;
    display: flex;
    box-sizing: border-box;
    max-width: 1170px;
    
}

.main {
    margin-right: 126px;
    width: 66.0684%;   /* 773/1170*100 = 66,0684 */
}

.news {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 27px;
    width: 100%;
}

.news:nth-of-type(n+2) {
    margin-top: 59px;
}

.news-pic {
    min-width: calc(51.49% - 15px);   /* 381/773*100 = 49,288  30/2 = 15 */
    background-color: #eff6f1;
}

.news-title {
    margin-top: 10px;
    font-size: 20px;
}

.news-title-link {
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
}

.news-title-link:hover {
    color: #b59f5b;
}

.dataandauthor {
    margin-top: 24px;
}

.data {
    font-size: 12px;
    color: #888888;
    font-weight: 400;
    font-family: "Open Sans";
}

.author {
    margin-left: 10px;
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
}
.news-text {
    margin-top: 46px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans";
}

.news-text + .news-text {
    margin-top: 11px;
}

.sidebar {
    max-width: 271px;
}

.latepost {
    position: relative;
    text-align: center;
}

.sidebar-title {
    margin-top: 0px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
}

.sidebar-title::after {
    content: "";
    margin: 9px auto 0;
    display: block;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
}

.postlist {
    display: flex;
    gap: 18px;
}

.postlist {
    margin-top: 27px;
}

.postlist:nth-of-type(n+2) {
    margin-top: 22px; 
}

.postlist-content {
    text-align: left;
}

.postlist-pic {
    min-width: 70px;
    height: 70px;
    background-color: #f4f7f6;
}

.postlist-title {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 18px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
}

.postlist-title-link {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 18px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
}

.postlist-search {
    position: relative;
    margin-top: 60px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.postlist-search-text {
    padding: 17px;
    padding-right: 52px;
    width: 100%;
    height: 48px;
    background-color: #f4f7f6;
    border: none;
    outline: none;
}

.postlist-search-text:placeholder {
    opacity: 0.541;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
}

.postlist-search-text:focus {
    border: 1px solid #b59f5b;
}

.postlist-search-btn {
    position: absolute;
    right: 0;
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
}

.subscribe {
    margin-top: 60px;
    text-align: center;
}

.subscribe-email-text {
    margin-top: 12px;
    padding-left: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    background-color: #f3f7f5;
    border: none;
    outline: none;
}

.subscribe-email-text:placeholder {
    opacity: 0.541;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
}

.subscribe-email-text:focus {
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
}

.btn {
    margin-top: 18px;
    width: 100%;
    height: 48px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    border: none;
    background-color: #b59f5b;
}

.btn:hover {
    background-color: #323232;
}

.tags {
    margin-top: 56px;
    text-align: center;
}

.tags-item {
    display: flex;
    column-gap: 5px;
    row-gap: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 19px;
    padding: 0 3px 0 0;
}

.tags-items {
    box-sizing: border-box;
    margin-top: 6px;
    padding: 3px 14px;
    font-size: 12px;
    border: 3px solid #eeeeee;
}

.tags-items-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
}

.tags-items:hover {
  border: 3px solid #b59f5b;
}

.topic {
    margin-top: 59px;
    text-align: center;
}

.topic-item {
    display: block;
    text-align: left;
}
.topic-items {
    padding-top: 12px;
    padding-bottom: 13px;
    border-bottom: 1px solid #eeeeee;
    font-size: 14px;
}

.topic-items-link {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-family: "Open Sans";
}

.topic-items-link:hover {
    color: #b59f5b;
}

.sup {
    font-size: 12px;
    color: #b59f5b;
    vertical-align: super;
    font-weight: 700;
    font-family: "Open Sans";
}

.shop {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 23px;
}

.shop-title {
    margin-top: 0;
    margin-bottom: 30px;

}

.shop-container {
    padding: 0 22px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 112px;
}

.product {
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 75.3px);    /* 113px * 2 / 3*/
}

.product-pic {
    max-width: 100%;
    background-color: #eff6f1;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.product-content {
    margin-top: -10px;
    padding-top: 25px;
    outline: 3px solid #b59f5b;
    outline-offset: 20px;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.product-title {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
}

.product-text {
    margin-top: 3px;
    margin-bottom: 23px;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans";
}

.text-link {
    text-decoration: none;
    color: #b59f5b;
}

.text-link:hover {
    text-decoration: underline;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.price, .price-sale {
    position: relative;
    margin: 0;
    display: block;
}

.price {
    font-size: 14px;
    text-decoration: line-through;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
}


.price-sale {
    margin-top: -4px;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
}

.product-btn {
    width: 140px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
}

.product-btn:hover {
    background-color: #323232;
}

.btn-text {
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
}

.footer {
    max-width: 1170px;
    margin: 0 auto;
}

.social {
    margin-top: 96px;
    padding: 25px 0 25px 0;
    text-align: center;
    background-color: #f4f7f6;
}

.social-item {
    padding-left: 0;
    margin: 0;
}

.social-items {
    display: inline-block;
}

.social-items:nth-child(n+2) {
    margin-left: 19px;
}

.social-link {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.link-dribbble {
    background-image: url("../svg/001-dribbble.svg");
}

.link-pinerest {
    background-image: url("../svg/001-pinterest.svg");
}

.link-tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.copyright {
    display: block;
    margin: 71px auto 44px;
    background-color: white;
    text-align: center;   
    text-decoration: none; 
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    font-family: "Open Sans";
}

.popup {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

}

.popup-title {
    margin: 0;
}

.popup-content {
    position: relative;
    padding: 52px 30px;
    box-sizing: border-box;
    width: 390px;
    height: min-content;
    background-color: #ffffff;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans";
}

.popup-close-btn {
    position: absolute;
    top: -24px;
    right: 0;
    width: 18px;
    height: 18px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../svg/form-x.svg");
}

.text-select {
    margin-top: 14px;
    margin-bottom: 0;
    display: block;
    font-size: 13px;
    line-height: 40px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
}

.select {
    box-sizing: border-box;
    width: 330px;
    height: 48px;
    margin: 0;
    padding-left: 20px;
    border: none;
    opacity: 0.541;
    font-size: 13px;
    color: #000000;
    background-color: #f3f7f6;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position:  307px 13px;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.select:focus {
    border: 1px solid #b59f5b;
}

.option {
    opacity: 0.541;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
}

.text-radio-group {
    margin-top: 27px;
    margin-bottom: 2px;
    display: block;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
}

.radio-group {
    margin-right: 15px;
}

.input-radio {
    display: none;
}

.radio-text {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
}

.radio-text::before {
    content: '';
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.input-radio:checked + .radio-text::before {
    background-image: url("../svg/form-circle.svg");
}

.text-textarea {
    margin-top: 30px;
    display: block;
    line-height: 1.2;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
}

.textarea {
    margin-top: 12px;
    padding: 14px 20px;
    display: block;
    box-sizing: border-box;
    width: 330px;
    height: 130px;
    background-color: #f3f7f6;
    border: none;
    outline: none;
    resize: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.textarea:focus {
    border: 1px solid #b59f5b;
}

.textarea::placeholder {
    opacity: 0.541;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
}

.popup-btn {
    margin-top: 25px;
    width: 330px;
}

@media (max-width: 1200px) {
    .header {
        padding: 45px 0 113px;
    }

    .menu {
        width: 91.482%;
    }

    .logo {
        width: 157px;
    }

    .btn-burger {
        display: block;
        margin-bottom: 10px;
    }

    .navigation {
        display: none;
        margin-top: 8px;
    }   

    .navigation-input:checked + .navigation {
        display: flex;
    } 

    .title {
        margin-top: 80px;
        width: 611px;
        font-size: 40px;
        line-height: 55px;
    }

    .section-title {
        margin-top: 45px;
        margin-bottom: 15px;
        font-size: 18px;
    }

    .trends-container {
        flex-wrap: wrap;
    }

    .trends-block {
        width: calc(50% - 3px);
        padding-top: 17px;
        padding-bottom: 17px;
        min-height: 250px;
    }



    .category-items-link {
        font-size: 14px;
    }

    .trends-block-title-link {
        font-size: 17px;
        line-height: 22px;
    }

    .main {
        margin-right: 35px;
        width: calc(100% - 35px - 271px);
    }

    .news {
        flex-direction: column;
        align-items: normal;
        gap: 13px;
    }

    .news-title {
        margin-top: 6px;
        padding-right: 10px;
    }

    .news-title-link {
        font-size: 17px;
        line-height: 22px;
    }

    .news-pic {
        aspect-ratio: 392 / 302;
    }

    .data, .author {
        font-size: 12px;
    }

    .news-text {
        font-size: 15px;
        line-height: 22px;
        margin-top: 27px;
        margin-bottom: 5px;
    }

    .trends-contant {
        padding: 28px;
    }

    .container {
        width: 90.885%;
        justify-content: center;
        padding-top: 45px;
        padding-bottom: 10px;
    }

    .dataandauthor {
        margin-top: 28px;
    }

    .subscribe {
        margin-top: 54px;
    }

    .shop-container {
        margin-top: 25px;
        padding: 0 33px;
        gap: 68px;
        row-gap: 51px;
        flex-wrap: wrap;
    }

    .product {
        width: calc(50% - 34px);
    }

    .shop-title {
        margin-bottom: 28px;
    }

    .product-pic {
        aspect-ratio: 292 / 226;
    }

    .product-content {
        margin-top: -8px;
        padding-top: 28px;
        padding-bottom: 7px;
    }

    .product-title {
        font-size: 17px;
    }

    .product-text {
        margin-bottom: 19px;
    }

    .social {
        margin-top: 70px;
    }

    .copyright {
        margin-top: 40px;
    }

    .popup-close-btn {
        top: -34px;
        width: 26px;
        height: 26px;
    }

    .section-title-link::after {
        margin-top: 9px;
        margin-bottom: 15px;
    }

    .popup-content {
        padding-top: 6px;
    }

    .radio-group {
        margin-right: 28px;
    }

    .radio-text::before {
        width: 26px;
        height: 26px;
    }
}

@media (max-width: 1200px) and (orientation: landscape) {
    .trends-block {
        width: calc(25% - 3px);
        padding: 25px 5px 8px;
    }

    .trends-contant {
        padding: 1.5vw;
    }

    .category {
        gap: 3.125vw;
        row-gap: 0px;
        flex-wrap: wrap;
    }
}

@media (max-width: 785px) and (orientation: landscape) {
    .category-items-link{
        font-size: 12px;
    } 

    .trends-block-title-link {
        font-size: 15px;
    }
}

@media (max-width: 640px){
    .header {
        padding: 24px 0 211px;
    }

    .menu {
        flex-direction: column-reverse;
    }

    .navigation {
        position: absolute;
        top: 25px;
        right: 44px;
        left: 33px;
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .logo-link {
        margin: 155px auto 0;
    }

    .logo {
        width: 268px;
    }

    nav {
        margin-left: auto;
    }

    .title {
        margin-top: 32px;
        width: 280px;
        font-size: 26px;
        line-height: 36px;
    }
    .section-title {
        margin-top: 37px;
        margin-bottom: 24px;
        font-size: 16px;
    }

    .trends-container {
        gap: 2px;
    }

    .trends-block {
        padding: 17px 14px;
        width: 100%;
        min-height: 233px;
    }

    .trends-block-title-link {
        font-size: 16px;
        line-height: 20px;
    }

    .trends-contant {
        padding: 26px 19px;
        width: 100%;
    }

    .container {
        padding-top: 42px;
        padding-bottom: 27px;
        width: 91.667%;
        flex-direction: column;
    }

    .main {
        margin: 0 auto;
        width: 100%;
    }

    .news {
        padding-bottom: 17px;
        border-bottom: 3px solid #eeeeee;

    }

    .news:nth-of-type(n+2) {
        margin-top: 33px;
    }

    .news-title {
        line-height: 20px;
        margin-bottom: 5px;
    }

    .news-title-link {
        font-size: 16px;
    }

    .dataandauthor {
        margin-top: 10px;
    }

    .news-text {
        margin-top: 14px;
        font-size: 14px;
        line-height: 20px;
    }

    .sidebar {
        max-width: 100%;
    }

    .postlist-search-text, .subscribe-form, .subscribe-email-text, .subscribe-btn, .tags, .product {
        width: 100%;
    }

    .sidebar {
        margin-top: 58px;
    }

    .sidebar-title {
        font-size: 16px;
    }

    .postlist {
        margin-top: 24px;
    }

    .postlist:nth-of-type(n+2) {
        margin-top: 18px;
    }

    .postlist-pic {
        margin-top: 4px;
        width: calc(24.242 - 10px);
    }

    .postlist-content {
        width: calc(75.756% - 10px);
    }

    .subscribe {
        margin-top: 40px;
    }

    .subscribe-email-text {
        margin-top: 10px;
    }

    .tags {
        margin-top: 38px;
    }

    .topic {
        margin-top: 42px;
    }

    .tags-item {
        margin-top: 20px;
        gap: 2px;
    }

    .topic-items {
        padding-top: 8px;
        padding-bottom: 16px;
    }

    .shop-title {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 16px;
    }

    .shop-container {
        padding: 0 14px;
        row-gap: 48px;
    }

    .product-pic  {
        aspect-ratio: 1 / 1;
    }

    .product-content {
        margin-top: -13px;
    }

    .footer {
        width: 91.667%;
    }

    .social {
        margin-top: 65px;
    }

    .copyright {
        margin-top: 50px;
    }

    .popup-close-btn {
        top: -32px;
        width: 28px;
        height: 28px;
    }

    .popup-title {
        margin-top: 0px;
        margin-bottom: 16px;
        font-size: 16px;
    }

    .text-select {
        font-size: 13px;
    }

    .popup-content {
        padding: 23px 24px;
        width: 330px;
    }

    .select {
        margin-top: -4px;
        width: 280px;
        background-position: 255px 13px;
    }

    .text-radio-group {
        margin-bottom: 6px;
    }

    .radio-group {
        margin-top: 29px;
        margin-right: 29px;
    }

    .radio-text::before {
        width: 27px;
        height: 27px;
    }

    .textarea {
        width: 280px;
    }

    .popup-btn {
       width: 280px; 
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .trends-block {
        width: calc(50% - 1px);
    }

    .trends-contant {
        padding: 2.5vw;
    }
}


